.admin-wrapper {
    padding-top: 100px;
}

.wrapper {
    padding-top: 78px;
}

.popup {
    z-index: 105;
    display: none;
    position: relative;
}

.popup.active {
    display: block;
}

.popup::before {
    content: "";
    background: #000000;
    opacity: 0.4;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 104;
}

.registration__content {
    max-height: calc(98vh - 20px);
    overflow-y: auto;
    background: #ffffff;
    border-radius: 15px;
    position: fixed;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 386px;
    padding-top: 40px;
    padding-left: 42px;
    padding-right: 43px;
    padding-bottom: 40px;
    z-index: 105;
}

.registration__mail {
    margin-bottom: 22px;
}

.registration__info-item {
    padding-right: 5px;
}

.registration__password {
    margin-bottom: 16px;
    padding-right: 25px;
}

.registration__password-confirm {
    padding-right: 25px;
}

.registration__roles {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 22px;
}

.registration__role {
    display: flex;
    gap: 7px;
    cursor: pointer;
}

.registration__role input {
    display: none;
}

.registration__role input:checked + .filter__custom-input::before {
    opacity: 1;
}

.registration__role input:checked ~ .registration__role-text {
    font-weight: 500;
    margin-right: -2px;
}

.registration__create-btn {
    padding: 20px 2px;
}

.registration__footer {
    margin-top: 20px;
}

.registration__login {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    gap: 16px;
}

.registration__login-btn {
    font-size: 12px;
    line-height: 14px;
    color: #298CFF;
    border-bottom: 1px solid #298CFF;
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 134.6%;
    color: #000000;
    margin-bottom: 47px;
}

.input_blue {
    border-bottom: 1px solid #298CFF;
    padding-bottom: 9px;
    width: 100%;
}

.password-eye {
    position: relative;
}

.password-control {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}

.password-control img:last-child {
    display: none;
}

.password-control.active img:first-child {
    display: none;
}

.password-control.active img:last-child {
    display: block;
}

.authorization__content {
    max-height: calc(98vh - 20px);
    overflow-y: auto;
    background: #ffffff;
    border-radius: 15px;
    position: fixed;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 365px;
    padding-top: 40px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 40px;
    z-index: 105;
}

.authorization__mail {
    margin-bottom: 23px;
}

.authorization__create-btn {
    margin-top: 33px;
    padding: 20px 2px;
}

.authorization__footer {
    margin-top: 20px;
}

.authorization__reg {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    gap: 16px;
}

.authorization__reg-btn {
    font-size: 12px;
    line-height: 14px;
    color: #298CFF;
    border-bottom: 1px solid #298CFF;
    cursor: pointer;
}

.popup-close {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../img/icons/exit.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.popup-close:hover {
    scale: 1.15;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -o-appearance: none;
    print-color-adjust: exact;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
}
